[www]
user = {{ nginx }}
group = {{ nginx }}
listen = /run/php-fpm/www.sock
listen.acl_users = apache,nginx
listen.allowed_clients = 127.0.0.1
pm = dynamic
pm.max_children = 50https://docviewer.yandex.ru/?url=ya-mail%3A%2F%2F178455135234557033%2F1.2&name=%D0%A0%D0%B5%D0%BA%D0%B2%D0%B8%D0%B7%D0%B8%D1%82%D1%8B+%D0%9E%D0%9E%D0%9E+%D0%9C%D0%A6+%D0%9C%D0%B5%D0%B4%D0%B8%D0%AD%D0%BD+%281%29.docx&uid=1152681236
pm.start_servers = 5
pm.min_spare_servers = 5
pm.max_spare_servers = 35
slowlog = /var/log/php-fpm/www-slow.log
php_admin_value[error_log] = /var/log/php-fpm/www-error.log
php_admin_flag[log_errors] = on
php_value[session.save_handler] = files
php_value[session.save_path]    = /var/lib/php/session
php_value[soap.wsdl_cache_dir]  = /var/lib/php/wsdlcache